<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="/Layouts/base-Layout :: head"></head>

<body>

<nav th:replace="/Layouts/base-Layout :: nav"></nav>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-6">

                <!-- MENSAJE FLASH!-->
            <div class="alert alert-success text-center" th:if="${peliEliminada !=null}" th:text="${peliEliminada}"></div>
            <div class="alert alert-success text-center" th:if="${peliEditada !=null}" th:text="${peliEditada}"></div>
            <div class="alert alert-success text-center" th:if="${actorEditado !=null}" th:text="${actorEditado}"></div>
            <div class="alert alert-success text-center" th:if="${actorEliminado !=null}" th:text="${actorEliminado}"></div>
            <div class="alert alert-success text-center" th:if="${actorGuardado !=null}" th:text="${actorGuardado}"></div>


                <table class="table table-hover table-stripped text-center">
                    <tbody>

                    <tr th:each="peli : ${peliculas}">
                        <td th:text="${peli.titulo}"></td>

                        <td>
                            <a class="btn btn-danger" th:href="@{'/admin/eliminar-pelicula/' + ${peli.id}}">
                                <i class="fas fa-trash"></i>
                            </a>
                        </td>

                        <td>
                            <a class="btn btn-warning" th:href="@{'/admin/editar-form/' + ${peli.id}}">
                                <i class="fas fa-pencil-alt"></i>
                            </a>
                        </td>

                        <td>
                            <a class="btn btn-primary" th:href="@{'/actors/add-actores/' + ${peli.id}}">
                                <i class="fas fa-plus-circle"></i>
                            </a>
                        </td>

                        <td>
                            <div th:each="actor : ${peli.actores}">
                                <small th:text="${actor.nombre} +' '+ ${actor.apellido}"></small>
                                <a th:href="@{'/admin/editar-actores/' + ${actor.pelicula.id}}" class="edit-actor">Editar</a>
                            </div>
                        </td>

                    </tr>
                    </tbody>
                </table>

            </div>

        </div>

    </div>
</body>
</html>