<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="Layouts/base-Layout :: head"></head>

<body>

    <nav th:replace="Layouts/base-Layout :: nav"></nav>

    <!-- MENSAJE FLASH!-->
    <div class="alert alert-danger text-center" th:if="${usuarioRepetido !=null}" th:text="${usuarioRepetido}"></div>
    <div class="alert alert-danger text-center" th:if="${camposVacios !=null}" th:text="${camposVacios}"></div>


    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-4 mt-5">
                <form th:action="@{/usuario/save}" method="POST">
                    <div class="form-group">
                        <input type="text" name="username" placeholder="Usuario"
                        autocomplete="off" class="form-control text-center fst-italic"> <!-- el usuario y contraseña son enviados al metodo del SecurityConfig !-->
                    </div>

                    <div class="form-group my-2">
                        <input type="password" name="password" placeholder="Contraseña"
                        autocomplete="off" class="form-control text-center fst-italic">
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-secondary form-control">Registrar</button>
                    </div>


                </form>
            </div>
        </div>
    </div>


</body>
</html>